@import url('https://fonts.googleapis.com/css2?family=Raleway|Roboto|Open+Sans');
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, #505050, #292929);
}
footer {
    height: 60px;
    color:rgb(210, 210, 210);
    font-size: 0.6rem;
    background-color: #3a3a3a;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1.5rem 0 1rem 0;
    box-shadow: 0rem -0.5rem 2rem rgb(49, 49, 49);
}
.footer-container {
    padding: 0 5vw;
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 15px;
}
.footer-container .social-icons img {
    width: 4vw;
    max-width: 20px;
    max-height: 20px;
    margin: 0 0.5rem;
}
footer a {
    display:flex;
    justify-content: center;
    align-items: center;
}
footer p {
    font-size: 8px;
}
/* Properties will be used often */
.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-col-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page-subtitle {
    text-align: center;
    margin: 1rem 0.5rem 1.5rem 0.5rem;
    font-size: 1.2rem;
    color:rgb(221, 221, 221);
    letter-spacing: 0.2rem;
    font-weight: 600;
}
.article-title {
    color:rgb(210, 210, 210);
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
}
a:link {
    color:rgb(210, 210, 210);
}
a:visited {
    color: rgb(210, 210, 210);
}
.button {
    text-decoration: none;
    margin: 2rem;
    padding: 0.7rem 1rem;
    border: 1.5px solid rgb(210, 210, 210);
    text-align: center;
}
/* Hamburger menu setup */
.header {
    display: block;
}
.nav {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}
.navbar-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-top: 1rem;
}
.navbar-container > a {
    padding-left: 1.5rem;
}
.navbar-container .nav-menu-container li {
    list-style: none;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.nav-menu-container a {
    text-decoration: none;
    color: rgb(210, 210, 210);
    font-size: 0.8rem;
    font-weight: 500;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}
.nav-menu-container a:hover {
    font-weight: bolder;
    transition: 0.25s ease-in-out;
}
.checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
.navbar-container .hamburger-lines {
    display: block;
    height: 25px;
    width: 32px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hamburger-lines .line {
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: rgb(210, 210, 210);
}
.hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.hamburger-lines .line2 {
    transition: transform 0.25s ease-in-out;
}
.hamburger-lines .line3 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.navbar-container .nav-menu-container {
    padding-top: 80px;
    height: auto;
    width: 100%;
    transform: translateY(-120%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    justify-content: flex-end;
    color:rgb(210, 210, 210);
    background-color:rgb(49, 49, 49);
    position: relative;
    top: -80px;
    box-shadow: 0 0.3rem 2rem rgba(32, 32, 32, 0.963);
    z-index: 1;
}
.navbar-container input[type="checkbox"]:checked ~ .nav-menu-container {
    transform: translateY(0%);
} 
.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(44deg);
} 
.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
} 
.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}
#logo {
    width: 100px;
}
.button:hover {
    transition: 0.2s ease-in-out;
    border: 1.5px solid #b6a256;
    background-color: #b6a256;
}
#minimumheightcontroller {
    min-height: 72vh;
}
@keyframes slide {
    0% {
        translate: 0 -40px;
        opacity: 0;
    }
    100% {
        translate: 0 0;
        opacity: 1;
    }
}
/* mobile view */
/* landing page */
#landing {
    background: url(../images/background1.jpg);
    min-height: 100vh;
    background-position: 35%;
    background-size: cover;
    background-repeat: no-repeat;
}
#greeting-container {
    animation: slide 1.5s forwards;
    padding-top: 31vh;
    align-items: center;
    text-shadow: 0.2rem 0.2rem 0.7rem rgb(0, 0, 0) ;
}
#profilememoji {
    border: 2px solid white;
    border-radius: 50%;
    width: 32vw;
    min-width: 100px;
    max-width: 250px;
    background-color: black;
}
#greeting-container h2 {
    margin-top: 2rem;
    color: rgb(210, 210, 210);
    font-weight: 500;
}
#greeting-container span {
    font-weight: 600;
    color:#60a4f8;
}
#greeting-container p {
    margin-top: 0.5rem;
    color:rgb(210, 210, 210);
    font-size: 1rem;
}
/* about page */
#profilephoto {
    border: 1.5px solid white;
    border-radius: 50%;
    width: 70vw;
    max-width: 400px;
    animation: slide 1.5s forwards;
    z-index: -1;
}
.profile-container {
    color:rgb(210, 210, 210);
    border-top: 2px solid rgb(210, 210, 210);
    background-color: #282828;
    width: 85vw;
    max-width: 700px;
    padding: 1rem;
    box-shadow: 0 -1rem 3rem rgba(0, 0, 0, 0.664);
    position: relative;
    top: -3rem;
}
.profile-container p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    line-height: 1.7rem;
    font-weight: 300;
}
.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 10vh;
}
.skills div {
    width: calc(85vw/2 - 1rem);
    height: calc(85vw/2 - 1rem);
    background-image: linear-gradient(to bottom right, #265a9e, #26336d);
    box-shadow: 1rem 1rem 6rem rgba(0, 0, 0, 0.477);
    margin: 0.75rem;
    color:rgb(210, 210, 210);
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.skills div:nth-of-type(2) {
    background-image: linear-gradient(to bottom right, #e79154, #9b6831);
}
.skills div:nth-of-type(3) {
    background-image: linear-gradient(to bottom right, #4e4e4e, #363636);
}
.skills div:nth-of-type(4) {
    background-image: linear-gradient(to bottom right, #50bf8a, #305752);
}
.skills img {
    width: 10vw;
    height: 10vw;
    max-width: 80px;
    max-height: 80px;
    opacity: 0.9;
    margin-bottom: 0.5rem;
}
.skills p {
    font-size: 1rem;
}
.name-highlight {
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}
/* projects page */
.cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 10vh;
}
.card {
    animation: slide 1.5s forwards;
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    color: D#a18a96;
    background: url('../images/background02.jpeg') center no-repeat;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
    margin: 1rem;
    box-shadow: 1rem 1rem 6rem rgba(0, 0, 0, 0.539);
}
.card:nth-of-type(1) {
    background: url('../images/portfolio_concept.jpg') center no-repeat;
    background-size: cover;
}
.card:nth-of-type(2) {
    background: url('../images/favicon.png') center no-repeat;
    background-size: cover;
}
.card:nth-of-type(3) {
    background: url('../images/motorwagen.jpeg') center no-repeat;
    background-size: cover;
}
.card:nth-of-type(4) {
    background: url('../images/restuarant_event01.jpeg') top no-repeat;
    background-size: cover;
}
.card:nth-of-type(5) {
    background: url('../images/restuarant_event02.jpeg') center no-repeat;
    background-size: cover;
}
.card:nth-of-type(6) {
    background: url('../images/restuarant_event03.jpeg') top no-repeat;
    background-size: cover;
}
.card:nth-of-type(7) {
    background: url('../images/restuarant_post.jpg') center no-repeat;
    background-size: cover;
}
.card:nth-of-type(8) {
    background: url('../images/foodphoto.jpg') center no-repeat;
    background-size: cover;
}
.card-content {
    position: absolute;
    bottom: 0;
    height: 43%;
    width: 100%;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.615);
    border-radius: 20px;
    transform: translateY(60px);
    transition: transform .25s;
}
.card-title {
    color: #333333;
    line-height: 20px;
}
.card-subtitle {
    display: block;
    color:rgba(0, 0, 0, 0.547);
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    margin-top: 3px;
}
.card-description {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color:rgb(0, 0, 0);
    opacity: 0;
    transition: opacity .5s;
}
.card:hover .card-content {
    transform: translateY(0);
}
.card:hover .card-description {
    opacity: 1;
    transition-delay: .25s;
}
/* newsroom page */
.blogs-container {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 1rem;
    width: 97vw;
    height: 65vh;
    max-height: 650px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    border-radius: 8px;
    gap: 0.75rem;
    background:rgb(255, 255, 255);
    animation: slide 1.5s forwards;
}
.blogs-contents {
    flex: 0 0 275px;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1rem 1rem 6rem rgba(0, 0, 0, 0.539);
}
.post-photo {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 50%;
    margin-bottom: 1rem;
}
.post-photo1 {
    background: url(../images/img_post1.jpeg);
    background-size: cover;
    background-position: center;
}
.post-photo2 {
    background: url(../images/img_post2.jpeg);
    background-size: cover;
    background-position: center;
}
.post-photo3 {
    background: url(../images/img_post3.jpeg);
    background-size: cover;
    background-position: center;
}
.post-photo4 {
    background: url(../images/img_post4.jpeg);
    background-size: cover;
    background-position: center;
}
.post-photo5 {
    background: url(../images/img_post5.jpeg);
    background-size: cover;
    background-position: center;
}
.post-photo6 {
    background: url(../images/img_post6.png);
    background-size: cover;
    background-position: center;
}
.post {
    width: 85%;
    max-height: 32%;
    overflow: hidden;
    line-height: 14px;
}
.post .post-description {
    font-size: 0.85rem;
    font-family: 'Open Sans', sans-serif;
    color:rgba(0, 0, 0, 0.767);
    text-indent: 10px;
    line-height: 145%;
}
.readmore {
    position: relative;
    margin-top: auto;
    bottom: 0;
    min-height: 40px;
    width: 100%;
    box-shadow: 0 -1rem 1rem -1rem rgb(85, 85, 85);
}
.blogs-contents a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    color:rgb(50, 50, 50);
}
#lastpost {
    background-color: rgba(255, 255, 255, 0.094);
}
.posting-container {
    animation: slide 1.5s forwards;
    margin: auto;
    margin-bottom: 5vh;
    padding: 1rem 2.2rem 2rem 2.2rem;
    width: 97vw;
    height: auto;
    border-radius: 8px;
    background:rgb(255, 255, 255);
}
.posting-photo-container {
    width: 110%;
    height: 25vh;
    margin: 1rem 0rem;
}
.posting-container .post-description {
    font-size : 0.8rem;
    line-height: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.posting-photo1 {
    background-image: url(../images/img_post1.jpeg);
    background-size: cover;
    background-position: center;
}
.posting-photo2 {
    background-image: url(../images/img_post2.jpeg);
    background-size: cover;
    background-position: center;
}
.posting-photo3 {
    background-image: url(../images/img_post3.jpeg);
    background-size: cover;
    background-position: center;
}
.posting-photo4 {
    background-image: url(../images/img_post4.jpeg);
    background-size: cover;
    background-position: center;
}
.posting-photo5 {
    background-image: url(../images/img_post5.jpeg);
    background-size: cover;
    background-position: center;
}
.posting-photo6 {
    background-image: url(../images/img_post6.png);
    background-size: cover;
    background-position: center;
}
/* tablet view */
@media screen and (min-width: 500px) and (max-width: 899px) {
    html {
        font-size: 110%;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* footer {
        position: fixed;
    } */
    .navbar-container {
        flex-direction: row;
        justify-content: space-between;
        margin: 0.5rem 0.1rem 0 0.1rem;
        max-width: 1100px;
    }
    .checkbox {
        top: -100%;
        right: -100%;
    }
    .hamburger-lines {
        opacity: 0;
    }
    .navbar-container .nav-menu-container {
        display : flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        transform: none;
        padding: 0;
        width: auto;
        top: 0;
        background: none;
        box-shadow: none;
    }
    .navbar-container {
        padding: 1rem 2rem;
    }
    .page-subtitle {
        margin: 1rem;
    }
    .profile-container {
        padding: 2rem 2.5rem 1rem 2.5rem;
        box-shadow: 0 -1rem 3rem rgba(0, 0, 0, 0.664);
        position: relative;
    }
    .skills div {
        max-width: calc(700px/2 - 1rem);
    }
    .cards-container {
        width: 500px;
    }
    .card {
        width: 230px;
        height: 230px;
        margin: 0.5rem;
    }
    .card-content {
        height: 50%;
        transform: translateY(50px);
    }
    .blogs-container {
        width: 93vw;
        height: auto;
        max-height: none;
        max-width: 750px;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        margin-bottom: 6vh;
    }
    .blogs-contents {
        flex: none;
        width: calc(93vw/2 - 2rem);
        height: 400px;
        max-width: 340px;
    }
    .post {
        width: 90%;
        line-height: 16px;
    }
    .post .post-description {
        width: 100%;
        font-size: 0.7rem;
    }
    #minimumheightcontroller {
        display: flex;
        align-items: center;
    }
    .readmore {
        min-height: 50px;
    }
    #lastpost img {
        transform: rotate(90deg);
    }
    .posting-container {
        margin-bottom: 6vh;
        padding: 1rem 2.2rem 2rem 2.2rem;
        width: 93vw;
    }
    .posting-photo-container {
        width: 100%;
        height: 30vh;
        min-height: 300px;
        margin: 1rem 0rem;
    }
    .posting-container .card-title {
        font-size: 1.3rem;
    }
    .posting-container .post-description {
        line-height: 1.5rem;
        font-size : 0.7rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
/* desktop view */
@media screen and (min-width: 900px) {
    html {
        font-size: 115%;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer {
        position: fixed;
    }
    .navbar-container {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1150px;
        margin: 1rem 1rem 0 1rem;
    }
    .checkbox {
        top: -100%;
        right: -100%;
    }
    .hamburger-lines {
        opacity: 0;
    }
    .navbar-container .nav-menu-container {
        display : flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        transform: none;
        padding: 0;
        width: auto;
        top: 0;
        background: none;
        box-shadow: none;
    }
    .navbar-container {
        padding: 1rem 2rem;
    }
    #greeting-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 20%;
        padding-top: 0;
        height: 100vh;
    }
    #greeting-container div {
        margin-left: 2rem;
    }
    .profile-container {
        border-left: 2px solid rgb(210, 210, 210);
        border-top: none;
        width: 50vw;
        padding: 1rem 2rem 1rem 2rem;
        box-shadow: -2rem 0rem 3rem rgba(0, 0, 0, 0.664);
        position: relative;
        top: 0;
        left: -3rem;
    }
    .about-container {
        margin-top: 2rem;
        margin-left: 2rem;
        display: flex;
        flex-flow: row wrap;
        align-self: center;
        justify-content: center;
    }
    .skills {
        display: flex;
        flex-direction: row;
        margin-bottom: 15vh;
        margin-top: 2rem;
        width: 100%;
    }
    .skills img {
        width: 3vw;
        height: 3vw;
    }
    .skills div {
        width: 19vw;
        height: 19vw;
        max-width: 250px;
        max-height: 250px;
        box-shadow: -1rem -1rem 6rem rgba(0, 0, 0, 0.477);
        margin: 1rem;
        font-size: 0.8rem;
    }
    .cards-container {
        width: 900px;
        margin-top: 1rem;
    }
    .card {
        width: 280px;
        height: 280px;
        margin: 0.5rem;
    }
    .card-content {
        height: 43%;
        transform: translateY(50px);
    }
    .page-subtitle {
        margin: 1rem;
    }
    .blogs-container {
        width: 93vw;
        height: auto;
        max-width: 840px;
        max-height: none;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        margin-bottom: 15vh;
        margin-top: 1rem;
    }
    .post-photo {
        width: 100%;
    }
    .blogs-contents {
        flex: none;
        width: calc(93vw/2 - 2rem);
        height: 50vh;
        max-width: 250px;
        max-height: 450px;
        font-size: 120%;
    }
    .post {
        width: 90%;
        line-height: 20px;
    }
    .post .card-title {
        font-size: 0.9rem;
    }
    .post .post-description {
        width: 100%;
        font-size: 0.7rem;
    }
    #minimumheightcontroller {
        display: flex;
        align-items: center;
    }
    .readmore {
        min-height: 50px;
    }
    #lastpost img {
        transform: rotate(90deg);
    }
    .posting-container {
        margin-top: 1rem;
        margin-bottom: 15vh;
        padding: 3rem;
    
        max-width: 840px;
    }
    .posting-photo-container {
        width: 100%;
        height: 30vh;
        min-height: 350px;
        margin: 1rem 0rem;
    }
    .posting-container .card-title {
        font-size: 1.4rem;
    }
    .posting-container .post-description {
        line-height: 1.5rem;
        font-size: 0.9rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}